

#top{
    margin-top: -9px;
    left: 0px;
}
#rocket{
    position: absolute;
    left: 740px;
    top: 134px;
}
#bottom{
    margin-top: 325px;
    left: 0px;
    object-fit: cover;
    object-position: 36% 100%;
}
.ready{
    position: absolute;
width: 486px;
height: 54px;
left: 127px;
top: 100px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 54px;

letter-spacing: 0.105em;
text-transform: uppercase;

color: #6C63FF;
}

.dias {
    position: absolute;
    width: 30px;
    height: 21px;
    left: 152px;
    top: 190px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    
    text-transform: capitalize;
    
    color: #C8C8C8;
     
 
}
.day{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 108px;
    
    color: #4D4C59;
    position: absolute;
    left: 104px;
    top: 158px;;

}
.horas {
    position: absolute;
width: 41px;
height: 21px;
left: 273px;
top: 190px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;


text-transform: capitalize;

color: #C8C8C8;
}
.time {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 108px;
    
    color: #4D4C59;
    position: absolute;
    left: 246px;
    top: 158px;

    
}

.minutos{
    position: absolute;
    width: 54px;
    height: 21px;
    left: 405px;
    top: 190px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    
    text-transform: capitalize;
    
    color: #C8C8C8;
}
.min{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 108px;
    
    color: #4D4C59;
    position: absolute;
    left: 390px;
    top: 162px;
}
.segundos {
    position: absolute;
width: 70px;
height: 21px;
left: 536px;
top: 190px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;

text-transform: capitalize;

color: #C8C8C8;

}
.seg{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 108px;
    
    color: #4D4C59;
    
position: absolute;
left: 525px;
top: 158px;
}
.inscreva {
    position: absolute;
width: 349px;
height: 21px;
left: 196px;
top: 345px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
color: #9C9AB6;

}
.button {
position: absolute;
width: 160px;
height: 40px;
left: 290px;
top: 400px;
border-radius: 10px ;
background-color: #6C63FF;
border: none;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}